./Kozlak/fork-signal/main
./Kozlak/fork-signal/main.o
./Kozlak/ftw/main
./Kozlak/ftw/main.o
./Kozlak/pipe/main
./Kozlak/pipe/main.o

./Olejarz/zad1/main.o
./Olejarz/zad1/main
./Olejarz/zad3/main.o
./Olejarz/zad3/main
./Olejarz/zad2/main.o
./Olejarz/zad2/main

./Siwik/zad1/main
./Siwik/zad1/main.o
./Siwik/zad2/main
./Siwik/zad2/main.o
./Siwik/zad3/main
./Siwik/zad3/main.o
